$text-base-color: #babdc4;
$text-link-blue: #77a8fd;
$text-link-blue-active: #5292ff;
$bloquote-border: #4a4d56;
$blockquote-text: #9b9ba3;
$inline-code-text: #c2c4ca;
$inline-code-bg: #2d2d2d;
$toc-bg: #323232;
$go-top-bg: #676767b3;
$go-top-bg-hover: #676767;

$black: #131418;
$white: #eaeaea;
$light: #1b1d25;
$smoke: #4a4d56;
$gray: #767f87;

//////////////// 3. Fonts preferences /////////////////
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

$normal-weight: 400;
$bold-weight: 700;

$wide-size: 990px;
$narrow-size: 850px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// Screen sizes
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "fonts";
@import "base";
@import "navbar";
@import "layout";
@import "post";
@import "code";

@import "miscellaneous";
@import "listpage";
