<div class="navbar" role="navigation">
    <nav class="menu" aria-label="Main Navigation">
        <a class="menu-link" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
        <input type="checkbox" id="menu-trigger" class="menu-trigger" />
        <label for="menu-trigger">
            <span class="menu-icon">
              {{ $ctx := dict
                  "vendor" "lucide"
                  "name" "menu"
                  "size" "25px"
              }}
              {{ partial "icons/icon" $ctx }}
            </span>
        </label>
        <div class="trigger">
            <ul class="trigger-container">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a class="menu-link {{ if or ($currentPage.IsMenuCurrent "main" .) }}active{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                    {{ if .HasChildren }}
                    <ul>
                        {{ range .Children }}
                        <li>
                            <a class="menu-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
                                href="{{ .URL }}">
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>
